.container {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}

img {

	width: 450px;
	height: 300px;
	
}

h1 {

	font-family: fantasy;
	font-size: 3em;
	border-bottom: 2px solid red;
	border-top: 2px solid red;
	border-right: 3px solid white;
	border-left: 3px solid white;
	width:400px;
	text-align: center;/* which is the center of the width 400px */
	box-shadow: 4px 4px 5px #888888;
	margin-top:10px;
}

* {
	transition: all 1s;
}
img:hover {

	transform: scale(1.1);
}

h1:hover {

	transform: scale(1.1);
}





























































/* Selector {

  Property: value;
} */

/*body {
	background-image: url(background.jpg);
	background-size:cover;
}
 p {
    color: #AA4139;
    text-align: center;
    border:5px solid rgba(255,176,170,0.5);
    cursor:pointer;
    
}

p {
    line-height: 5px;
	font-style: italic;
    font-weight:bold;
    font-size:80%;
    font-family: 'Poiret One',cursive;
}

ul {
	text-indent: 60%;
}

footer {
	clear:both;
	text-align: center;
}

li {
	list-style: none;
	display:inline-block;

}

.webtext:first-child {
	border: 5px dashed green;
}

img {
	float:right;
}


.active {
	color: red;
	font-weight:bold;
 text-indent:80%;
}

#div1 {
	background: rgba(255,0,0,0.2);
	border: 5px solid;
}
#div2 {
	background: rgba(0,0,255,0.2);
}

*/